@model AspNetSampleApp.Models.HomeModel
@{
    ViewBag.Title = "Home";
}

<main>
	<section class="row">
		<h1 id="title">Permission Tester</h1>
		<p class="lead">Here you can check which directories and files this web application has access to.</p>

		<div class="flex-row align-items-center">
			@using (Html.BeginForm("CheckPermissions", "Home", null, FormMethod.Post))
			{
				@Html.TextBox("path", null, new { style = "max-width: 50em; width: 50em;" })

				<button type="submit" class="btn btn-sm btn-primary flex-grow-0" name="submitButton" value="FileExists">Check File Exists</button>
				<button type="submit" class="btn btn-sm btn-primary flex-grow-0" name="submitButton" value="ReadFile">Read File</button>
				<button type="submit" class="btn btn-sm btn-primary flex-grow-0" name="submitButton" value="WriteFile">Write File</button>
				<button type="submit" class="btn btn-sm btn-primary flex-grow-0" name="submitButton" value="DeleteFile">Delete File</button>
				<button type="submit" class="btn btn-sm btn-primary flex-grow-0" name="submitButton" value="ListDirectory">List Directory</button>
			}
		</div>

		<div class="mt-2 mb-2" style="white-space: pre-line;">
			@Model.PermissionCheckResult
		</div>
	</section>

	<section class="row">
		<h1 id="title">Environment Variables</h1>
		<p class="lead">Here you can see all environment variables this web application has access to.</p>

		<div style="white-space: pre-line; font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;">
			@Model.EnvironmentVariables
		</div>
	</section>
</main>