name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x

    # Publish the application
    - name: Publish the application
      run: dotnet publish "./src/NomadIIS/NomadIIS.csproj" /p:PublishProfile="./src/NomadIIS/Properties/PublishProfiles/Release.pubxml"

    # Copy to output
    - name: Copy to output folder
      run: |
        mkdir dist
        copy .\src\NomadIIS\bin\Debug\net7.0\win-x64\publish\nomad_iis.exe .\dist\nomad_iis.exe

    # Upload the artifact
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: nomad_iis
        path: ./dist
